h1, p {
    background-color: blue;
    margin: 0 10px;
    padding: 0 1px 2px 3px;
}

h1 {
    color: red;
}

p {
    color: yellow;
}

#chosen {
    background-color: black;
}

.nice-border {
    border: 3px solid grey;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.container-flex {
    display: flex;
    justify-content: space-between;
}

div p {
    width: 33%;
    margin: 0;
}

div.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div p {
    width: 100%;
}